* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f58c36;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    height: 100vh;
}

.utilization {
    width: 500px;
    background: #fff;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
}

.utilization div {
    display: flex;
}

.date-style {
    border: 1px solid rgba(99, 99, 99, 0.493);
}

.liberation {
    max-width: 500px;
    background: #fff;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
}

h2 {
    margin-bottom: 24px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

label {
    display: flex;
    margin: 8px;
    font-weight: bold;
    font-size: 16px
}

input[type="checkbox"] {
    margin-bottom: 12px;
    margin-right: 8px
}

input[type="date"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.plans {
    margin-bottom: 15px;
    display: block;
    flex-direction: column;
}

.plans label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.plans h3 {
    margin: 16px;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    background: #0077cc;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #005fa3;
}

.result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

@media (max-width: 780px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .utilization,
    .liberation {
        width: 400px;
    }

    .utilization div {}

    label {
        font-size: 12px;
    }

    input[type="date"] {
        width: auto;
        font-size: 14px;
    }

}